<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields">
    <label>Имя:
        <input type="text" th:field="*{name}">
    </label>
    <label>Фамилия:
        <input type="text" th:field="*{lastName}">
    </label>
    <label>Возраст:
        <input type="text" th:field="*{age}">
    </label>
    <label>Пароль:
        <input type="password" th:field="*{password}">
    </label>
    <label>Роли:
        <select id="hobbies" th:field="*{roles}" size="10" multiple="multiple">
            <option th:each="role : ${all_roles}"
                    th:value="${{role}}"
                    th:text="${role.name}">
            </option>
        </select>
    </label>
    <input type="hidden" th:field="*{id}">
</div>
</body>
</html>