<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:if="${user}">
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>lastName</td>
            <td>age</td>
            <td>roles</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="fragments/logout :: logout"></div>
</body>
</html>